In [1]:
import pandas as pd

## Creating a Series

In [9]:
a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [12]:
# Dictionary to series
calories = {"day1": 420, "day2": 380, "day3": 390}

# for selective data ensure the right index is selected
myvar = pd.Series(calories, index = ["day1", "day3"]) 

print(myvar)

day1    420
day3    390
dtype: int64

## Creating a dataframe

In [21]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#in order to specify the index
myvar = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(myvar)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [14]:
# To get a single row
print(df.loc[0, 1])

## Cleaning operations

In [18]:
df = pd.read_csv('/home/student/Desktop/220962344/ML_Theory/Week2/company_sales_data.csv')
df.head()

,month_number,facecream,facewash,toothpaste,bathingsoap,shampoo,moisturizer,total_units,total_profit
0,1,2500,1500,5200,9200,1200,1500,21100,211000
1,2,2630,1200,5100,6100,2100,1200,18330,183300
2,3,2140,1340,4550,9550,3550,1340,22470,224700
3,4,3400,1130,5870,8870,1870,1130,22270,222700
4,5,3600,1740,4560,7760,1560,1740,20960,209600

In [31]:

# remove rows that contain empty cells
# inplace makes changes in the original df
new_df = df.dropna(inplace = True)

# fill empty values
# for specified columns define the index
df.fillna(130, inplace = True) 

df = myvar

# calculating the mean, median and mode
mean = df["calories"].mean()
median = df["calories"].median()
mode = x = df["calories"].mode()

# correcting values
df.loc[1, 'Duration'] = 45

# remove duplicates
df.drop_duplicates(inplace = True) 

#to get a correlational matrix
# close to 1 means good and opposite is bad
print(df.corr)

#dropping values
df.drop("calories", axis = 'columns')

print(mode)

<bound method DataFrame.corr of    calories  duration  Duration
1       NaN       NaN      45.0>
Series([], Name: calories, dtype: float64)